[defaults]
; -i inventory (No need to write in Command line)
inventory= inventory.ini  

; -e ansible_user=ec2-user (No need to write this in Command line)
remote_user= ec2-user

; ansible-playbook -i inventory -e ansible_user=ec2-user -e ansible_password=DevOps321 db.yaml
; Instead of writing Adhoc command every time put here (But not password, can put in inventory file)